In [1]:
print ('Hello World!')

Hello World!

In [2]:
1+1 # comment

2

In [3]:
5/2

2

In [4]:
5/2.0

2.5

In [5]:
5.0/2

2.5

In [6]:
5//2

2

In [7]:
5//2.0

2.0

In [8]:
5%2

1

In [9]:
import math
math.pi

3.141592653589793

In [10]:
radius=2
area=radius**2*math.pi #^

In [11]:
area

12.566370614359172

In [12]:
radius=4
area=radius**2*math.pi
area

50.26548245743669

In [13]:
def area1(x):
    return math.pi*(x**2)

In [14]:
area1(2)

12.566370614359172

In [15]:
area1(4)

50.26548245743669

In [16]:
area2=lambda x: math.pi*(x**2)

In [17]:
area2(2)

12.566370614359172

In [18]:
x=1
x

1

In [19]:
type(x)

int

In [20]:
x=1.0
x

1.0

In [21]:
type(x)

float

In [22]:
x='hello'
x

'hello'

In [23]:
type(x)

str

In [24]:
x=True
x

True

In [25]:
type(x)

bool

In [26]:
x=[1,2,3,4]
x

[1, 2, 3, 4]

In [27]:
type(x)

list

In [35]:
x=['a', 'b', 'c', 'd']
x

['a', 'b', 'c', 'd']

In [36]:
len(x)

4

In [29]:
x=['a', 1]

In [30]:
x

['a', 1]

In [33]:
type(x)

int

In [31]:
[type(x) for x in x]

[str, int]

In [37]:
range(4)

[0, 1, 2, 3]

In [38]:
range(0,4)

[0, 1, 2, 3]

In [39]:
range(1, 5, 1)

[1, 2, 3, 4]

In [40]:
range(1,5,2)

[1, 3]

In [41]:
range(5, 1, -1)

[5, 4, 3, 2]

In [42]:
range(5,1,-2)

[5, 3]

In [65]:
num=range(4)
num

[0, 1, 2, 3]

In [44]:
num+[4]

[0, 1, 2, 3, 4]

In [45]:
num

[0, 1, 2, 3]

In [46]:
sum(num)

6

In [47]:
num[0]

0

In [48]:
num[len(num)-1]

3

In [49]:
num[-1]

3

In [50]:
num[:2]

[0, 1]

In [51]:
num[0:2]

[0, 1]

In [52]:
num[1:3]

[1, 2]

In [63]:
#select multiple elements

In [56]:
from operator import itemgetter
index=[1,3]
list(itemgetter(*index)(num))

[1, 3]

In [66]:
import numpy as np
num1=np.array(num)
list(num1[index])

[1, 3]

In [67]:
num[num>0] # wrong

1

In [68]:
num1[num1>0]

array([1, 2, 3])

In [69]:
filter(lambda x:x>0, num) # list selection

[1, 2, 3]

In [70]:
num

[0, 1, 2, 3]

In [71]:
map(lambda x: x**2, num) # list computation

[0, 1, 4, 9]

In [72]:
[x for x in num if x>0]

[1, 2, 3]

In [73]:
[x**2 for x in num]

[0, 1, 4, 9]

In [157]:
# two list difference
temp1 = ['One', 'Two', 'Three', 'Four']
temp2 = ['One', 'Two']

In [159]:
[x for x in temp1 if x not in temp2]

['Three', 'Four']

In [74]:
range(4)+range(1,5)

[0, 1, 2, 3, 1, 2, 3, 4]

In [75]:
map(lambda x, y: x+y, range(4), range(1,5))

[1, 3, 5, 7]

In [76]:
zip(range(4), range(1,5)) # tuple

[(0, 1), (1, 2), (2, 3), (3, 4)]

In [77]:
x=1
if x>0:
    print "x is positive"
#elif:
else:
    if x==0:
        print 'x is zero'
    else: 
        print'x is negative'

x is positive

In [156]:
# %s is used as a placeholder for string values you want to inject into a formatted string.
# %d is used as a placeholder for numeric or decimal values.
print ('%s is %d years old' % ('Joe', 42))

Joe is 42 years old

In [155]:
x=-1
if x>0:
    print ("%s is positive" % (x))
elif x==0:
    print ('%s is zero' %(x))
else: 
    print ('%s is negative' % (x))

-1 is negative

In [79]:
s=' i am happy '

In [80]:
s.strip()

'i am happy'

In [81]:
s

' i am happy '

In [82]:
s.split()

['i', 'am', 'happy']

In [83]:
s1='i,am,happy'

In [84]:
s1.split(',')

['i', 'am', 'happy']

In [85]:
l=['i', 'am', 'happy']

In [86]:
' '.join(l)

'i am happy'

In [87]:
s.replace('am', 'was')

' i was happy '

In [88]:
s

' i am happy '

In [89]:
s[0]

' '

In [90]:
s[1]

'i'

In [91]:
s[2]

' '

In [92]:
s[3]

'a'

In [93]:
s.find('am')

3

In [94]:
s.find('was') #s.find('was')!=-1

-1

In [95]:
if s.find('was')==-1:
    print 'did not find was'

did not find was

In [96]:
s.upper()

' I AM HAPPY '

In [97]:
s

' i am happy '

In [98]:
L=['a', 'b', 'c']

In [99]:
L

['a', 'b', 'c']

In [100]:
L.append('d')

In [101]:
L

['a', 'b', 'c', 'd']

In [102]:
L.remove('c')

In [103]:
L

['a', 'b', 'd']

In [104]:
del L[0]

In [105]:
L

['b', 'd']

In [106]:
L.insert(0, 'a')

In [107]:
L

['a', 'b', 'd']

In [108]:
L.insert(-1, 'c')

In [109]:
L

['a', 'b', 'c', 'd']

In [110]:
L.insert(1,'e')

In [111]:
L

['a', 'e', 'b', 'c', 'd']

In [112]:
sorted(L)

['a', 'b', 'c', 'd', 'e']

In [113]:
L

['a', 'e', 'b', 'c', 'd']

In [114]:
L.sort()

In [115]:
L

['a', 'b', 'c', 'd', 'e']

In [116]:
(a,b)=(1,2)
print a
print b

1
2

In [117]:
(a,b)=(b,a)
print a
print b

2
1

In [118]:
L=[1,1,2,4,5,5]

In [119]:
s=set(L)

In [120]:
s

{1, 2, 4, 5}

In [121]:
L[0]

1

In [122]:
s[0]

TypeError: 'set' object does not support indexing

In [123]:
s=list(set(L))

In [124]:
s

[1, 2, 4, 5]

In [125]:
s[0]

1

In [160]:
# two list difference
L1=[1,1,2,4,5,5]
L2=[1,1,2]

In [161]:
[x for x in L1 if x not in L2]

[4, 5, 5]

In [162]:
list(set(L1) - set(L2))

[4, 5]

In [137]:
dic={'name': 'john', 'height': 180, 'age': 30}

In [138]:
dic.keys()

['age', 'name', 'height']

In [139]:
dic.values()

[30, 'john', 180]

In [140]:
dic.values()[0]

30

In [141]:
dic['height']

180

In [142]:
dic['sex']='male'

In [143]:
dic

{'age': 30, 'height': 180, 'name': 'john', 'sex': 'male'}

In [144]:
dic.items()

[('age', 30), ('sex', 'male'), ('name', 'john'), ('height', 180)]

In [145]:
word=['a', 'b', 'c', 'd']
for letter in word:
    print letter

a
b
c
d

In [146]:
for i in range(10):
    print i

0
1
2
3
4
5
6
7
8
9

In [150]:
sum=0
for i in range(101):
    if i%2==0:
        sum=sum+i
sum

2550

In [147]:
i=0
A=[]
while i<10:
    A.append(i)
    print i
    i=i+1

0
1
2
3
4
5
6
7
8
9

In [148]:
A

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [153]:
sum=0 
i=0
while i<101:
    if i%2==0:
        sum=sum+i
    i=i+1
sum

2550

In [120]:
# practice 
# question 1: The function map can be used for multiple lists. Assume the list Lst below record the price of 6 consecutive days.
# Compute the daily return. Hint: Since we have data for 6 days, we have only 5 daily return.
Lst=[10.,11.,12.,13.,14.,15.]

In [121]:
# solution:
L1=Lst[0:len(Lst)-1]
L2=Lst[1:len(Lst)]
ret = map(lambda x, y: (y-x)/x  , L1, L2)

In [122]:
ret

[0.1,
 0.09090909090909091,
 0.08333333333333333,
 0.07692307692307693,
 0.07142857142857142]

In [123]:
#Find the returns that are greater than 8%
filter(lambda r: r>0.08, ret)

[0.1, 0.09090909090909091, 0.08333333333333333]

In [124]:
# Find the days with returns greater than 8%. Your code need to report if it's the first day, second day...etc
filter(lambda r: r[0]>0.08, zip(ret, range(1, 1+len(ret))  ))

[(0.1, 1), (0.09090909090909091, 2), (0.08333333333333333, 3)]

In [128]:
range(1, 1+len(ret))

[1, 2, 3, 4, 5]

In [129]:
zip(ret, range(1, 1+len(ret))  )

[(0.1, 1),
 (0.09090909090909091, 2),
 (0.08333333333333333, 3),
 (0.07692307692307693, 4),
 (0.07142857142857142, 5)]

In [126]:
# question 2: Use the list comprehension this time: Sum up the numbers divided by 3 or 5 from 1 to 999.
Lst=range(1,1000)
sum([x if x%3==0 or x%5==0 else 0 for x in Lst])

233168

In [125]:
Lst=range(1,1000)
[x if x%3==0 or x%5==0 else 0 for x in Lst]

[0,
 0,
 3,
 0,
 5,
 6,
 0,
 0,
 9,
 10,
 0,
 12,
 0,
 0,
 15,
 0,
 0,
 18,
 0,
 20,
 21,
 0,
 0,
 24,
 25,
 0,
 27,
 0,
 0,
 30,
 0,
 0,
 33,
 0,
 35,
 36,
 0,
 0,
 39,
 40,
 0,
 42,
 0,
 0,
 45,
 0,
 0,
 48,
 0,
 50,
 51,
 0,
 0,
 54,
 55,
 0,
 57,
 0,
 0,
 60,
 0,
 0,
 63,
 0,
 65,
 66,
 0,
 0,
 69,
 70,
 0,
 72,
 0,
 0,
 75,
 0,
 0,
 78,
 0,
 80,
 81,
 0,
 0,
 84,
 85,
 0,
 87,
 0,
 0,
 90,
 0,
 0,
 93,
 0,
 95,
 96,
 0,
 0,
 99,
 100,
 0,
 102,
 0,
 0,
 105,
 0,
 0,
 108,
 0,
 110,
 111,
 0,
 0,
 114,
 115,
 0,
 117,
 0,
 0,
 120,
 0,
 0,
 123,
 0,
 125,
 126,
 0,
 0,
 129,
 130,
 0,
 132,
 0,
 0,
 135,
 0,
 0,
 138,
 0,
 140,
 141,
 0,
 0,
 144,
 145,
 0,
 147,
 0,
 0,
 150,
 0,
 0,
 153,
 0,
 155,
 156,
 0,
 0,
 159,
 160,
 0,
 162,
 0,
 0,
 165,
 0,
 0,
 168,
 0,
 170,
 171,
 0,
 0,
 174,
 175,
 0,
 177,
 0,
 0,
 180,
 0,
 0,
 183,
 0,
 185,
 186,
 0,
 0,
 189,
 190,
 0,
 192,
 0,
 0,
 195,
 0,
 0,
 198,
 0,
 200,
 201,
 0,
 0,
 204,
 205,
 0,
 207,
 0,
 0,
 210,
 0,
 0,
 213,
 0,
 215,
 216,
 0,
 0,
 219,
 220,
 0,
 222,
 0,
 0,
 225,
 0,
 0,
 228,
 0,
 230,
 231,
 0,
 0,
 234,
 235,
 0,
 237,
 0,
 0,
 240,
 0,
 0,
 243,
 0,
 245,
 246,
 0,
 0,
 249,
 250,
 0,
 252,
 0,
 0,
 255,
 0,
 0,
 258,
 0,
 260,
 261,
 0,
 0,
 264,
 265,
 0,
 267,
 0,
 0,
 270,
 0,
 0,
 273,
 0,
 275,
 276,
 0,
 0,
 279,
 280,
 0,
 282,
 0,
 0,
 285,
 0,
 0,
 288,
 0,
 290,
 291,
 0,
 0,
 294,
 295,
 0,
 297,
 0,
 0,
 300,
 0,
 0,
 303,
 0,
 305,
 306,
 0,
 0,
 309,
 310,
 0,
 312,
 0,
 0,
 315,
 0,
 0,
 318,
 0,
 320,
 321,
 0,
 0,
 324,
 325,
 0,
 327,
 0,
 0,
 330,
 0,
 0,
 333,
 0,
 335,
 336,
 0,
 0,
 339,
 340,
 0,
 342,
 0,
 0,
 345,
 0,
 0,
 348,
 0,
 350,
 351,
 0,
 0,
 354,
 355,
 0,
 357,
 0,
 0,
 360,
 0,
 0,
 363,
 0,
 365,
 366,
 0,
 0,
 369,
 370,
 0,
 372,
 0,
 0,
 375,
 0,
 0,
 378,
 0,
 380,
 381,
 0,
 0,
 384,
 385,
 0,
 387,
 0,
 0,
 390,
 0,
 0,
 393,
 0,
 395,
 396,
 0,
 0,
 399,
 400,
 0,
 402,
 0,
 0,
 405,
 0,
 0,
 408,
 0,
 410,
 411,
 0,
 0,
 414,
 415,
 0,
 417,
 0,
 0,
 420,
 0,
 0,
 423,
 0,
 425,
 426,
 0,
 0,
 429,
 430,
 0,
 432,
 0,
 0,
 435,
 0,
 0,
 438,
 0,
 440,
 441,
 0,
 0,
 444,
 445,
 0,
 447,
 0,
 0,
 450,
 0,
 0,
 453,
 0,
 455,
 456,
 0,
 0,
 459,
 460,
 0,
 462,
 0,
 0,
 465,
 0,
 0,
 468,
 0,
 470,
 471,
 0,
 0,
 474,
 475,
 0,
 477,
 0,
 0,
 480,
 0,
 0,
 483,
 0,
 485,
 486,
 0,
 0,
 489,
 490,
 0,
 492,
 0,
 0,
 495,
 0,
 0,
 498,
 0,
 500,
 501,
 0,
 0,
 504,
 505,
 0,
 507,
 0,
 0,
 510,
 0,
 0,
 513,
 0,
 515,
 516,
 0,
 0,
 519,
 520,
 0,
 522,
 0,
 0,
 525,
 0,
 0,
 528,
 0,
 530,
 531,
 0,
 0,
 534,
 535,
 0,
 537,
 0,
 0,
 540,
 0,
 0,
 543,
 0,
 545,
 546,
 0,
 0,
 549,
 550,
 0,
 552,
 0,
 0,
 555,
 0,
 0,
 558,
 0,
 560,
 561,
 0,
 0,
 564,
 565,
 0,
 567,
 0,
 0,
 570,
 0,
 0,
 573,
 0,
 575,
 576,
 0,
 0,
 579,
 580,
 0,
 582,
 0,
 0,
 585,
 0,
 0,
 588,
 0,
 590,
 591,
 0,
 0,
 594,
 595,
 0,
 597,
 0,
 0,
 600,
 0,
 0,
 603,
 0,
 605,
 606,
 0,
 0,
 609,
 610,
 0,
 612,
 0,
 0,
 615,
 0,
 0,
 618,
 0,
 620,
 621,
 0,
 0,
 624,
 625,
 0,
 627,
 0,
 0,
 630,
 0,
 0,
 633,
 0,
 635,
 636,
 0,
 0,
 639,
 640,
 0,
 642,
 0,
 0,
 645,
 0,
 0,
 648,
 0,
 650,
 651,
 0,
 0,
 654,
 655,
 0,
 657,
 0,
 0,
 660,
 0,
 0,
 663,
 0,
 665,
 666,
 0,
 0,
 669,
 670,
 0,
 672,
 0,
 0,
 675,
 0,
 0,
 678,
 0,
 680,
 681,
 0,
 0,
 684,
 685,
 0,
 687,
 0,
 0,
 690,
 0,
 0,
 693,
 0,
 695,
 696,
 0,
 0,
 699,
 700,
 0,
 702,
 0,
 0,
 705,
 0,
 0,
 708,
 0,
 710,
 711,
 0,
 0,
 714,
 715,
 0,
 717,
 0,
 0,
 720,
 0,
 0,
 723,
 0,
 725,
 726,
 0,
 0,
 729,
 730,
 0,
 732,
 0,
 0,
 735,
 0,
 0,
 738,
 0,
 740,
 741,
 0,
 0,
 744,
 745,
 0,
 747,
 0,
 0,
 750,
 0,
 0,
 753,
 0,
 755,
 756,
 0,
 0,
 759,
 760,
 0,
 762,
 0,
 0,
 765,
 0,
 0,
 768,
 0,
 770,
 771,
 0,
 0,
 774,
 775,
 0,
 777,
 0,
 0,
 780,
 0,
 0,
 783,
 0,
 785,
 786,
 0,
 0,
 789,
 790,
 0,
 792,
 0,
 0,
 795,
 0,
 0,
 798,
 0,
 800,
 801,
 0,
 0,
 804,
 805,
 0,
 807,
 0,
 0,
 810,
 0,
 0,
 813,
 0,
 815,
 816,
 0,
 0,
 819,
 820,
 0,
 822,
 0,
 0,
 825,
 0,
 0,
 828,
 0,
 830,
 831,
 0,
 0,
 834,
 835,
 0,
 837,
 0,
 0,
 840,
 0,
 0,
 843,
 0,
 845,
 846,
 0,
 0,
 849,
 850,
 0,
 852,
 0,
 0,
 855,
 0,
 0,
 858,
 0,
 860,
 861,
 0,
 0,
 864,
 865,
 0,
 867,
 0,
 0,
 870,
 0,
 0,
 873,
 0,
 875,
 876,
 0,
 0,
 879,
 880,
 0,
 882,
 0,
 0,
 885,
 0,
 0,
 888,
 0,
 890,
 891,
 0,
 0,
 894,
 895,
 0,
 897,
 0,
 0,
 900,
 0,
 0,
 903,
 0,
 905,
 906,
 0,
 0,
 909,
 910,
 0,
 912,
 0,
 0,
 915,
 0,
 0,
 918,
 0,
 920,
 921,
 0,
 0,
 924,
 925,
 0,
 927,
 0,
 0,
 930,
 0,
 0,
 933,
 0,
 935,
 936,
 0,
 0,
 939,
 940,
 0,
 942,
 0,
 0,
 945,
 0,
 0,
 948,
 0,
 950,
 951,
 0,
 0,
 954,
 955,
 0,
 957,
 0,
 0,
 960,
 0,
 0,
 963,
 0,
 965,
 966,
 0,
 0,
 969,
 970,
 0,
 972,
 0,
 0,
 975,
 0,
 0,
 978,
 0,
 980,
 981,
 0,
 0,
 984,
 985,
 0,
 987,
 0,
 0,
 990,
 0,
 0,
 993,
 0,
 995,
 996,
 0,
 0,
 999]

In [127]:
#  use list comprehension to assign 'a' to the numbers greater than 8; 'b' to the numbers less or equal to 8 
# and greater than 5; 'c' to everything else.
Lst=range(1, 11)
['a' if x>8 else 'b' if x<=8 and x>5 else 'c' for x in Lst]

['c', 'c', 'c', 'c', 'c', 'b', 'b', 'b', 'a', 'a']

In [128]:
A=[]
for i in range(1,11):
    if i>8:
        A.append('a')
    elif 5<i<=8:
        A.append('b')
    else:
        A.append('c')

In [129]:
A

['c', 'c', 'c', 'c', 'c', 'b', 'b', 'b', 'a', 'a']

In [130]:
# question 3
# For the list, Lst, below, square all its elements.
Lst=range(1, 11)
map(lambda x: x**2, Lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [131]:
# For the nested list, Lst, below, square all the elements in each inner list.
Lst = [[1,2,3],[2,3,4],[3,4,5]]
map(lambda lst: map(lambda ele: ele**2 ,lst) ,Lst)

[[1, 4, 9], [4, 9, 16], [9, 16, 25]]

In [132]:
# question 4: Write a function countString with two arguments raw_string and string_to_count. 
# Your function should return the number of times of string_to_count occurs in the the raw_string argument. 
# In addition, Your function should be case insensitive.
def countString(raw_string, string_to_count):
    return raw_string.lower().count(string_to_count.lower())

In [133]:
countString('Welcome to IVY DATA SCIENCE Program!', 'IVY') # 1

1

In [134]:
countString('Welcome to ivy/IVY DATA SCIENCE Program!', 'IVY') # 2

2

In [136]:
# question 5: Write a function reverseString with an argument raw_string. Your function should return a new string,
# reverse the raw_string word by word.
def reverseString(raw_string):
    return ' '.join(raw_string.split()[::-1])

In [135]:
a='Welcome to IVY DATA SCIENCE Program'
a[::-1]

'margorP ECNEICS ATAD YVI ot emocleW'

In [4]:
a.split()[::-1]

['Program', 'SCIENCE', 'DATA', 'IVY', 'to', 'Welcome']

In [137]:
reverseString('Welcome to IVY DATA SCIENCE Program')

'Program SCIENCE DATA IVY to Welcome'

In [138]:
# question 6: Write a function countLetter to count the number of frequencies of each letter occurs. 
# In this case your function should only return the frequencies of letters that really occurs. 
# Again, your function should be case insensitive
def countLetter(raw_string):
    '''
    raw_string: a string
    
    returns: a dict contains each letter and it's corresponding frequency
    '''
    
    
    alphabet = [chr(i) for i in range(ord('a'),ord('z')+1)]
    raw_string = raw_string.lower()
    result = {}
    for i in raw_string:
        if i in alphabet:
            result[i] = result.get(i, 0) + 1
    return result

In [139]:
countLetter('') # {}

{}

In [140]:
countLetter('1')

{}

In [141]:
countLetter('ABCabc')

{'a': 2, 'b': 2, 'c': 2}

In [142]:
countLetter('Welcome to IVY DATA SCIENCE Program')

{'a': 3,
 'c': 3,
 'd': 1,
 'e': 4,
 'g': 1,
 'i': 2,
 'l': 1,
 'm': 2,
 'n': 1,
 'o': 3,
 'p': 1,
 'r': 2,
 's': 1,
 't': 2,
 'v': 1,
 'w': 1,
 'y': 1}

In [23]:
for i in range(ord('a'),ord('z')+1):
    print i

97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122

In [24]:
alphabet = [chr(i) for i in range(ord('a'),ord('z')+1)]

In [25]:
alphabet

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']