In [23]:
import numpy as np
import pandas as pd
df = pd.DataFrame([[1,      np.nan, 2],
                   [2,      3,      5],
                   [np.nan, 4,      6]],  columns=['a', 'b', 'c'])
df

     a    b  c
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [5]:
# check missing  by column
df.isnull().any(axis=0)

a     True
b     True
c    False
dtype: bool

In [6]:
# check missing by row
df.isnull().any(axis=1)

0     True
1    False
2     True
dtype: bool

In [7]:
df.loc[df.isnull().any(axis=1),:]

     a    b  c
0  1.0  NaN  2
2  NaN  4.0  6

In [8]:
# drop na by row
df1=df.dropna()
df1

     a    b  c
1  2.0  3.0  5

In [10]:
# drop na by column
df2=df.dropna(axis='columns')
df2

   c
0  2
1  5
2  6

In [11]:
# fill na by 0
df3=df.fillna(0)
df3

     a    b  c
0  1.0  0.0  2
1  2.0  3.0  5
2  0.0  4.0  6

In [12]:
# fill na with mean
df4=df.fillna(df.mean())
df4

     a    b  c
0  1.0  3.5  2
1  2.0  3.0  5
2  1.5  4.0  6

In [13]:
# fill na with medium
df5=df.fillna(df.median())
df5

     a    b  c
0  1.0  3.5  2
1  2.0  3.0  5
2  1.5  4.0  6

In [24]:
# fill na with max
df6=df.fillna(df.max())
df6

     a    b  c
0  1.0  4.0  2
1  2.0  3.0  5
2  2.0  4.0  6

In [25]:
# fill na with min
df7=df.fillna(df.min())
df7

     a    b  c
0  1.0  3.0  2
1  2.0  3.0  5
2  1.0  4.0  6

In [27]:
# fill na with random
def randomiseMissingData(df):
    "randomise missing data for DataFrame (within a column)"
    df8 = df.copy()
    for col in df8.columns:
        data = df8[col]
        mask = data.isnull()
        samples = random.choices( data[~mask].values , k = mask.sum() )
        data[mask] = samples
    return df8

In [28]:
randomiseMissingData(df)

/Users/shuozhang/anaconda/envs/py3k/lib/python3.6/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

     a    b  c
0  1.0  3.0  2
1  2.0  3.0  5
2  2.0  4.0  6

In [1]:
# loading libraries
import pandas as pd

# define column names
names = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']

# loading training data
df = pd.read_csv('iris.data.txt', header=None, names=names)
df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [2]:
df.shape

(150, 5)

In [3]:
# loading libraries
import numpy as np
from sklearn.cross_validation import train_test_split

# create design matrix X and target vector y
X = df[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]
y = df['class']

# split into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

/Users/shuozhang/anaconda/envs/py3k/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [4]:
# 1NN
# loading library
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

# instantiate learning model (k = 1)
knn = KNeighborsClassifier(n_neighbors=1)

# fitting the model
knn.fit(X_train, y_train)

# predict the response
pred = knn.predict(X_test)

# evaluate accuracy
accuracy_score(y_test, pred)

0.97999999999999998

In [5]:
# sqr(n)NN
import math
math.sqrt(df.shape[0])

12.24744871391589

In [6]:
# 12NN
# instantiate learning model (k = 12)
knn = KNeighborsClassifier(n_neighbors=12)

# fitting the model
knn.fit(X_train, y_train)

# predict the response
pred = knn.predict(X_test)

# evaluate accuracy
accuracy_score(y_test, pred)

1.0