In [1]:
import pandas as pd
Temp=pd.read_csv('Temp.txt', sep=' ')
Temp.head()

   Body.Temp Gender  Heart.Rate
1       96.3   Male          70
2       96.7   Male          71
3       96.9   Male          74
4       97.0   Male          80
5       97.1   Male          73

In [2]:
Body_temp=Temp['Body.Temp']

In [3]:
# one sample t test
from scipy import stats
stats.ttest_1samp(Body_temp,98.6)

Ttest_1sampResult(statistic=-5.4548232923640771, pvalue=2.4106320415610081e-07)

In [5]:
# pvalue<0.05, the mean of body temp is different from 98.6 degree

In [3]:
# two sample t test
from scipy.stats import ttest_ind
Temp_female=Temp['Body.Temp'][Temp['Gender']=='Female']
Temp_male=Temp['Body.Temp'][Temp['Gender']=='Male']
ttest_ind(Temp_female, Temp_male, equal_var=False)

Ttest_indResult(statistic=2.2854345381654984, pvalue=0.023938264182940983)

In [7]:
# p<0.05, the means of female's and male's temp are different

In [5]:
# one way ANOVA
import scipy.stats as stats
stats.f_oneway(Temp_female,Temp_male)

F_onewayResult(statistic=5.2232110282402733, pvalue=0.023931883122395092)

In [9]:
# p<0.05, the means of female's and male's temp are different

In [4]:
# f test
HR_female=Temp['Heart.Rate'][Temp['Gender']=='Female']
HR_male=Temp['Heart.Rate'][Temp['Gender']=='Male']
import numpy as np
F = np.var(HR_female) / np.var(HR_male)
df1 = len(HR_female) - 1
df2 = len(HR_male) - 1
from scipy import stats
alpha = 0.05 
p_value = 1-stats.f.cdf(F, df1, df2)
if p_value < alpha:
    print ('Reject the null hypothesis that the varaince of female and male heart rate are same')

Reject the null hypothesis that the varaince of female and male heart rate are same

In [ ]:
# the varaince of female's and male's heart rate are different

In [10]:
# chi-square test of independence
import scipy
test_df = pd.DataFrame([[0, 1], [1, 0], [0, 2], [0, 1], [0, 2]], columns=['var1', 'var2'])
test_df

   var1  var2
0     0     1
1     1     0
2     0     2
3     0     1
4     0     2

In [7]:
var1=np.array([0,1,0,0,0])
test_df=pd.DataFrame(var1,columns=['var1'])
test_df['var2']=np.array([1,0,2,1,2])
test_df

   var1  var2
0     0     1
1     1     0
2     0     2
3     0     1
4     0     2

In [11]:
stats.chi2_contingency(test_df)

(7.0000000000000009, 0.13588822540043319, 4, array([[ 0.14285714,  0.85714286],
        [ 0.14285714,  0.85714286],
        [ 0.28571429,  1.71428571],
        [ 0.14285714,  0.85714286],
        [ 0.28571429,  1.71428571]]))

In [ ]:
# p>0.05, var1 is independent of var 2